.header {
  @include wrapper;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.links {
  @include grid(4);
}

.link {
  @include h3;
  padding-block: 20px;
  color: var(--white);
  &.cart {
    grid-column: -1;
  }
}
